@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flyInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast-enter-active {
    animation: flyInFromRight 0.5s ease-out forwards;
}
